/**************************************
 ** - Couleurs-typo
 **************************************/
$yellow-light: #ffff00;
$yellow-dark: #f8f184;
$blue: #19587D;   
$red-light: #B11313;
$dark: #0d0e09;
$gray-dark: #19587d40;
$gray-light: #eddebf40;
$red-dark: #890008;
$white-dark: #c4c4c4;
$dark-brown: #000000;
$white-light: #ffffff;