/**************************************
 ** - Polices-des-caractères
 **************************************/
 @font-face {
    font-family: 'Rajdhani';
    src: url(/assets/polices/Rajdhani-Medium.ttf);
  }
 
  @font-face {
    font-family: 'SpaceGrotesk-bold';
    src: url(/assets/polices/SpaceGrotesk-Bold.ttf);
  }
 
  @font-face {
    font-family: 'SpaceGrotestk-Regular';
    src: url(/assets/polices/SpaceGrotesk-Regular.ttf);
  }